@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  background-color: rgb(51, 33, 85);
  width: 200%;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: white;
  font-size: 40px;
  text-decoration: none;
}

.navbar p {
  color: white;
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

main {
  width: 100%;
}

.home-title {
  width: 100%;
}

.article-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 30px;
}

.article-card {
  width: 45%;
  text-align: center;
  padding: 30px 0px;
  display: grid;
}

.article-card h3 {
  text-wrap: wrap;
  width: 100%;
}

.all-articles-images {
  border-radius: 8px;
  max-width: 50%;
  min-width: 250px;
  height: auto;
}

.single-article {
  width: 100%;
  margin-left: 2%;
}

.single-article h3 {
  font-size: 30px;
}

.single-article-author {
  font-weight: 1000;
}

.single-article-image {
  border-radius: 8px;
  max-width: 35%;
  min-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 20px;
}

.comments-list {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 70px;
}

.comment-card {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgb(228, 220, 241);
  border-radius: 8px;
}

.comment-card-author {
  font-weight: 1000;
}

.comment-card-body {
  font-style: italic;
}

.comment-card-votes {
  color: rgb(128, 5, 128);
  font-weight: 500;
}

.loading-animation {
  height: 100px;
  width: 100px;
  margin: auto;
}

footer {
  position: fixed;
  background-color: white;
  height: 40px;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  border-top: 1px solid #333;
}

footer p {
  display: inline;
  margin: 20px;
  width: 100%;
}
