@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  background-color: rgb(13, 13, 99);
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: white;
  font-size: 40px;
  text-decoration: none;
}

.navbar p {
  color: white;
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.article-list {
  display: flex;
  flex-wrap: wrap;
}

.article-card {
  max-width: 50%;
  text-align: center;
  padding: 10px 20px;
}

.article-card h3 {
  text-wrap: wrap;
}

.all-articles-images {
  border-radius: 8px;
  max-width: 40%;
  min-width: 200px;
  height: auto;
}

.single-article h3 {
  font-size: 30px;
}

.single-article-image {
  border-radius: 8px;
  max-width: 40%;
  min-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.loading-animation {
  height: 100px;
  width: 100px;
  margin: auto;
}

footer {
  position: fixed;
  background-color: white;
  height: 40px;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer p {
  display: inline;
  margin: 20px;
}
